body{
	font-family: 'Roboto', sans-serif;
	background: #000;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

.container-fluid {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}


.row {
	width: 100%;
    padding: 0px;
    margin: 0px;
    border-top: 2px solid black;
	border-right:2px solid black;
	border-left: 2px solid black;
}

.col-12 {
	padding: 0px;
    height: max-content;
}


/*---------------------------Menu-----------------*/

.navbar-nav:hover{
width:163px;
overflow:visible;
}

li {
	overflow: hidden;
}

.navbar-nav {
position:absolute;
top:0;
bottom:0;
left:80;
width:3px;
transition: width .4s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
background-color: white;
}

.nav-item{
	height: 110px;
	border-right:2px solid black;
	border-bottom: 4px solid black;
	border-left: 2px solid black;
}

.nav-link {
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: #000;
	height: 100%;
	padding-top: 40px;
}

.nav-item:hover {
	background-color: black;
	color: #fff;
}

.nav-link:hover {
	color: #fff;
}

.nav-item a {
	width: 100%;
	height: 110px !important;
}

.icone img {
	width: 50px;
	margin: 30px 50px;
}

.icone:hover {
	filter: invert(1);
}

.omega1 {
	height: 225px;
	padding-top: 60px;
	border: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 4px solid black;
}


/*--------------------------VETEMENT---------------------*/



figure {
	width: 100%;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

figure img {
	width: 100%;
	margin: 0px;
	padding: 0px;
	
}

.gauche{
	background-color: orange; 
	height: 437px;
	border-right:2px solid black;
	border-bottom: 2px solid black;

}

.centre{
	background-color: green; 
	height: 437px;
	border-right:2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.droite{
	background-color: purple; 
	height: 437px;
	border-right:4px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}
/*------------------------- HOVVER VETEMENT ----------------*/

 figure {
    position: relative;
}

figure figcaption {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 0em;
    left: 0em;
    bottom: 0em;
    right: 0em;
    background-color: #fcfcfc;
    opacity: 0;
    transition: opacity .6s ease;
}

figure figcaption:hover {
    opacity: .7;
}

.impact {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #020202;
}

 figure figcaption a {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


/*---------------------menu en bas ------------*/




footer {
	width: 100%;
	border-bottom: 2px solid black;
	z-index: 10;
	position: fixed;
	top: 884px;
	background: #fff;
}

.col-sm-1 {
	width: 150px;
	height: 127px;
	border-right:2px solid black;
	border-left: 2px solid black;
	padding-top: 50px;
}

.col-sm-1 a {
	text-decoration-line: none;
	color: black;
	font-size: 20px;
	font-weight: 700;
}

.col-sm-1 img{
	width: 45px;
}


.bleu {
	background-color: #DAFFFF;
}

.indigo {
	background-color: #DAE2FF;
}

.pourpre {
	background-color: #E6DAFF;
}

.violet {
	background-color: #F8DAFF;
}

.rouge {
	background-color: #FFDADA;
}

.orange {
	background-color: #FFEEDA;
}

.jaune {
	background-color: #FFFBDA;
}

.vert {
	background-color: #DFFFDA;
}

.cyan {
	background-color: #DAFFED;
}
